<div class="app">
  <div class="app__buttons">
    <div class="row">
      <button class="button button--slim start" (click)="start()">START</button>
    </div>
    <div class="row">
      <button class="button yes" [disabled]="disabled" (click)="answer('tak')">
        TAK
      </button>
      <button
        class="button idk"
        [disabled]="disabled"
        (click)="answer('nie wiem')"
      >
        NIE WIEM
      </button>
      <button class="button no" [disabled]="disabled" (click)="answer('nie')">
        NIE
      </button>
    </div>

    <div *ngIf="question" class="row question">{{ count }}. {{ question }}</div>

    <div class="row">
      <button
        class="button button--slim speak"
        *ngIf="question"
        [disabled]="disabled"
        (click)="speak()"
      >
        MÓW
      </button>
      <button
        class="button button--slim context"
        *ngIf="context.length"
        (click)="toggleShowContext()"
      >
        POKAŻ KONTEKST
      </button>
    </div>
  </div>

  <div class="app__context" *ngIf="showContext">
    <div *ngFor="let item of context" class="message-item">
      <span class="role role--{{ item.role }}">{{ item.role }}:</span>
      <span class="message">{{ item.content }}</span>
    </div>
  </div>
</div>
